:root {
    --blue: #00538A;
    --white: #fff;
  }

body {
    margin: 0;
    padding: 0;
}
.header {
    background: var(--blue);
    padding: 40px;
    margin-bottom: 40px;
}
.header ul li a {
    color: var(--white);
    text-decoration: none;
}
.tmp {
    border: solid 1px #6c6c6c;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #6c6c6c;
    font-weight: 300;
}
footer {
    background: var(--white);
    width: 100%;
    margin-top: 40px;
}
a.logo img {
    width: 220px;
}